appdirs==1.4.4
blinker==1.8.2
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
Deprecated==1.2.18
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==25.3.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
itsdangerous==2.2.0
jaconv==0.4.0
Jinja2==3.1.6
jpype1==1.6.0
MarkupSafe==2.1.5
mecab-python3==1.0.10
packaging==25.0
pykakasi==2.3.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.4
unicodecsv==0.14.1
unidic-lite==1.0.8
unihan-etl==0.36.0
urllib3==2.6.3
Werkzeug==3.0.6
wrapt==1.17.2
zhon==2.0.2
zipp==3.20.2
